body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:214px;
    top:256px;
    width:901px;
    height:289px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:901px;
    height:289px;
    
}

.u1_normal {
    background-image: url('../Copy_of_Estados_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:100px;
    top:13px;
    width:328px;
    height:243px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:334px;
    height:249px;
}

.u2 {
    position:absolute;
    left:2px;
    top:114px;
    width:324px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Copy_of_Estados_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:496px;
    top:13px;
    width:310px;
    height:243px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:249px;
}

.u4 {
    position:absolute;
    left:2px;
    top:114px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:190px;
    top:266px;
    width:137px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:565px;
    top:266px;
    width:183px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../PagePadrao_files/u0_normal.png');
}

.u7_container {
    position:absolute;
    left:238px;
    top:13px;
    width:934px;
    height:98px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:940px;
    height:104px;
}

.u8 {
    position:absolute;
    left:2px;
    top:41px;
    width:930px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../PagePadrao_files/u2_normal.png');
}

.u9_container {
    position:absolute;
    left:188px;
    top:121px;
    width:984px;
    height:38px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:990px;
    height:44px;
}

.u10 {
    position:absolute;
    left:2px;
    top:11px;
    width:980px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_menu {
    background-image: url('../PagePadrao_files/u4_menu.png');
}

.u11_menu {
    position:absolute;
    left:305px;
    top:121px;
    width:752px;
    height:40px;
}

#u11_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:749px;
    height:37px;
}

#u12 {
    position:absolute;
    left:3px;
    top:3px;
    width:742px;
    height:30px
}

.u13_normal {
    background-image: url('../PagePadrao_files/u6_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../PagePadrao_files/u8_normal.png');
}

.u15_container {
    position:absolute;
    left:70px;
    top:0px;
    width:130px;
    height:25px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:31px;
}

.u16 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../PagePadrao_files/u10_normal.png');
}

.u17_container {
    position:absolute;
    left:200px;
    top:0px;
    width:87px;
    height:25px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:31px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../PagePadrao_files/u12_normal.png');
}

.u19_container {
    position:absolute;
    left:287px;
    top:0px;
    width:141px;
    height:25px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:31px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:137px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../PagePadrao_files/u12_normal.png');
}

.u21_container {
    position:absolute;
    left:428px;
    top:0px;
    width:141px;
    height:25px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:31px;
}

.u22 {
    position:absolute;
    left:2px;
    top:4px;
    width:137px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../PagePadrao_files/u16_normal.png');
}

.u23_container {
    position:absolute;
    left:569px;
    top:0px;
    width:168px;
    height:25px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:31px;
}

.u24 {
    position:absolute;
    left:2px;
    top:4px;
    width:164px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_menu {
    background-image: url('../PagePadrao_files/u18_menu.png');
}

.u25_menu {
    position:absolute;
    left:569px;
    top:25px;
    width:179px;
    height:103px;
}

#u25_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:100px;
}

#u26 {
    position:absolute;
    left:3px;
    top:3px;
    width:169px;
    height:93px
}

.u27_normal {
    background-image: url('../PagePadrao_files/u20_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:0px;
    width:164px;
    height:38px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:170px;
    height:44px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:160px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../PagePadrao_files/u22_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:38px;
    width:164px;
    height:28px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:170px;
    height:34px;
}

.u30 {
    position:absolute;
    left:2px;
    top:5px;
    width:160px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../PagePadrao_files/u24_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:66px;
    width:164px;
    height:22px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:170px;
    height:28px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:160px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../PagePadrao_files/u26_normal.png');
}

.u33_container {
    position:absolute;
    left:334px;
    top:973px;
    width:691px;
    height:224px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:697px;
    height:230px;
}

.u34 {
    position:absolute;
    left:2px;
    top:104px;
    width:687px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_container {
    position:absolute;
    left:188px;
    top:20px;
    width:197px;
    height:91px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:91px;
}

.u36 {
    position:absolute;
    left:2px;
    top:38px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:528px;
    top:13px;
    width:354px;
    height:110px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_container {
    position:absolute;
    left:1067px;
    top:23px;
    width:94px;
    height:91px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:94px;
    height:91px;
}

.u39 {
    position:absolute;
    left:2px;
    top:38px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_line {
    background-image: url('../PagePadrao_files/u33_line.png');
}

.u40_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:1194px;
}

.u40 {
    position:absolute;
    left:178px;
    top:13px;
    width:10px;
    height:1194px;
    
}

.u41_line {
    background-image: url('../PagePadrao_files/u34_line.png');
}

.u41_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:1194px;
}

.u41 {
    position:absolute;
    left:1172px;
    top:13px;
    width:10px;
    height:1194px;
    
}

.u42_line {
    background-image: url('../PagePadrao_files/u35_line.png');
}

.u42_line {
    position:absolute;
    left:0px;
    top:3px;
    width:1004px;
    height:5px;
}

.u42 {
    position:absolute;
    left:178px;
    top:6px;
    width:1004px;
    height:10px;
    
}

.u43_line {
    background-image: url('../PagePadrao_files/u36_line.png');
}

.u43_line {
    position:absolute;
    left:0px;
    top:3px;
    width:994px;
    height:5px;
}

.u43 {
    position:absolute;
    left:188px;
    top:111px;
    width:994px;
    height:10px;
    
}

.u44_line {
    background-image: url('../PagePadrao_files/u37_line.png');
}

.u44_line {
    position:absolute;
    left:0px;
    top:3px;
    width:1004px;
    height:5px;
}

.u44 {
    position:absolute;
    left:178px;
    top:1207px;
    width:1004px;
    height:10px;
    
}

.u45_line {
    background-image: url('../PagePadrao_files/u38_line.png');
}

.u45_line {
    position:absolute;
    left:0px;
    top:3px;
    width:994px;
    height:5px;
}

.u45 {
    position:absolute;
    left:183px;
    top:159px;
    width:994px;
    height:10px;
    
}

.u47 {
    position:absolute;
    left:436px;
    top:231px;
    width:84px;
    height:22px;
    ;
    ;
    ;
    font-family:'Baskerville Old Face';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48 {
    position:absolute;
    left:780px;
    top:231px;
    width:162px;
    height:22px;
    ;
    ;
    ;
    font-family:'Baskerville Old Face';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:1038px;
    top:231px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Baskerville Old Face';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:460px;
    top:184px;
    width:439px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u51 {
    position:absolute;
    left:214px;
    top:560px;
    width:387px;
    height:39px;
    overflow:hidden;
}

#pd0u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:387px;
    height:39px;
    
}

.u53 {
    position:absolute;
    left:16px;
    top:0px;
    width:384px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u54 {
    position:absolute;
    left:712px;
    top:560px;
    width:209px;
    height:37px;
    overflow:hidden;
}

#pd0u54 {
    position:absolute;
    left:0px;
    top:0px;
    width:209px;
    height:37px;
    
}

.u55 {
    position:absolute;
    left:0px;
    top:7px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u56 {
    position:absolute;
    left:1006px;
    top:554px;
    width:109px;
    height:39px;
    overflow:hidden;
}

#pd0u56 {
    position:absolute;
    left:0px;
    top:0px;
    width:109px;
    height:39px;
    
}

.u57 {
    position:absolute;
    left:0px;
    top:7px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u58 {
    position:absolute;
    left:214px;
    top:656px;
    width:901px;
    height:289px;
    overflow:hidden;
}

#pd0u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:901px;
    height:289px;
    
}

.u59_normal {
    background-image: url('../Copy_of_Estados_files/u1_normal.png');
}

.u59_container {
    position:absolute;
    left:100px;
    top:13px;
    width:328px;
    height:243px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:334px;
    height:249px;
}

.u60 {
    position:absolute;
    left:2px;
    top:114px;
    width:324px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Copy_of_Estados_files/u3_normal.png');
}

.u61_container {
    position:absolute;
    left:496px;
    top:13px;
    width:310px;
    height:243px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:249px;
}

.u62 {
    position:absolute;
    left:2px;
    top:114px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:190px;
    top:266px;
    width:137px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:565px;
    top:266px;
    width:183px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

