body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../PagePadrao_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:239px;
    top:14px;
    width:934px;
    height:98px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:940px;
    height:104px;
}

.u1 {
    position:absolute;
    left:2px;
    top:41px;
    width:930px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../PagePadrao_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:189px;
    top:122px;
    width:984px;
    height:38px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:990px;
    height:44px;
}

.u3 {
    position:absolute;
    left:2px;
    top:11px;
    width:980px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_menu {
    background-image: url('../PagePadrao_files/u4_menu.png');
}

.u4_menu {
    position:absolute;
    left:306px;
    top:122px;
    width:752px;
    height:40px;
}

#u4_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:749px;
    height:37px;
}

#u5 {
    position:absolute;
    left:3px;
    top:3px;
    width:742px;
    height:30px
}

.u6_normal {
    background-image: url('../PagePadrao_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:25px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:31px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../PagePadrao_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:70px;
    top:0px;
    width:130px;
    height:25px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:31px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../PagePadrao_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:200px;
    top:0px;
    width:87px;
    height:25px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:31px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../PagePadrao_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:287px;
    top:0px;
    width:141px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:137px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../PagePadrao_files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:428px;
    top:0px;
    width:141px;
    height:25px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:31px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:137px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../PagePadrao_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:569px;
    top:0px;
    width:168px;
    height:25px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:31px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:164px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_menu {
    background-image: url('../PagePadrao_files/u18_menu.png');
}

.u18_menu {
    position:absolute;
    left:569px;
    top:25px;
    width:179px;
    height:103px;
}

#u18_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:100px;
}

#u19 {
    position:absolute;
    left:3px;
    top:3px;
    width:169px;
    height:93px
}

.u20_normal {
    background-image: url('../PagePadrao_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:164px;
    height:38px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:170px;
    height:44px;
}

.u21 {
    position:absolute;
    left:2px;
    top:10px;
    width:160px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../PagePadrao_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:38px;
    width:164px;
    height:28px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:170px;
    height:34px;
}

.u23 {
    position:absolute;
    left:2px;
    top:5px;
    width:160px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../PagePadrao_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:66px;
    width:164px;
    height:22px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:170px;
    height:28px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:160px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../PagePadrao_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:335px;
    top:974px;
    width:691px;
    height:224px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:697px;
    height:230px;
}

.u27 {
    position:absolute;
    left:2px;
    top:104px;
    width:687px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_container {
    position:absolute;
    left:189px;
    top:21px;
    width:197px;
    height:91px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:91px;
}

.u29 {
    position:absolute;
    left:2px;
    top:38px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:529px;
    top:14px;
    width:354px;
    height:110px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_container {
    position:absolute;
    left:1068px;
    top:24px;
    width:94px;
    height:91px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:94px;
    height:91px;
}

.u32 {
    position:absolute;
    left:2px;
    top:38px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_line {
    background-image: url('../PagePadrao_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:1194px;
}

.u33 {
    position:absolute;
    left:179px;
    top:14px;
    width:10px;
    height:1194px;
    
}

.u34_line {
    background-image: url('../PagePadrao_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:1194px;
}

.u34 {
    position:absolute;
    left:1173px;
    top:14px;
    width:10px;
    height:1194px;
    
}

.u35_line {
    background-image: url('../PagePadrao_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:0px;
    top:3px;
    width:1004px;
    height:5px;
}

.u35 {
    position:absolute;
    left:179px;
    top:7px;
    width:1004px;
    height:10px;
    
}

.u36_line {
    background-image: url('../PagePadrao_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:0px;
    top:3px;
    width:994px;
    height:5px;
}

.u36 {
    position:absolute;
    left:189px;
    top:112px;
    width:994px;
    height:10px;
    
}

.u37_line {
    background-image: url('../PagePadrao_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:3px;
    width:1004px;
    height:5px;
}

.u37 {
    position:absolute;
    left:179px;
    top:1208px;
    width:1004px;
    height:10px;
    
}

.u38_line {
    background-image: url('../PagePadrao_files/u38_line.png');
}

.u38_line {
    position:absolute;
    left:0px;
    top:3px;
    width:994px;
    height:5px;
}

.u38 {
    position:absolute;
    left:184px;
    top:160px;
    width:994px;
    height:10px;
    
}

.u40 {
    position:absolute;
    left:193px;
    top:184px;
    width:687px;
    height:82px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_container {
    position:absolute;
    left:890px;
    top:176px;
    width:275px;
    height:183px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:275px;
    height:183px;
}

.u42 {
    position:absolute;
    left:2px;
    top:84px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:193px;
    top:289px;
    width:687px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_container {
    position:absolute;
    left:890px;
    top:404px;
    width:275px;
    height:198px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:275px;
    height:198px;
}

.u45 {
    position:absolute;
    left:2px;
    top:91px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_container {
    position:absolute;
    left:962px;
    top:672px;
    width:131px;
    height:129px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:131px;
    height:129px;
}

.u47 {
    position:absolute;
    left:2px;
    top:56px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

